.counters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    outline: 5px solid blue;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background-color: cyan;
  }
  
  
  .header{
    column-gap: 20px;
  }
  .header-item:nth-child(2) {
    background-color: pink;
    width: 40px;
    text-align: center;
    border-radius: 5px;
  }
  
  
  .header2, .header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: fit-content;
    padding: 5px 40px;
  }
  
  
  .header2-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  
  .header2-item:nth-child(1){
    background-color: rgb(72, 175, 72);
  }
  
  .header2-item:nth-child(2){
    background-color: rgb(69, 108, 153);
  }
  
  